
.cartHeader {
    border-bottom: var(--border-style);
    border-bottom-style: dashed;
}

.cartStepWrapper {
    text-align: center;
    font-size: 12px;
    font-weight: 500;
  }

.cartHeaderStepsWrapper {
    top: -35px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin: auto;
}

.cartStep {
    padding: 15px;
    border: var(--border-style);
    background: var(--cart-step-background);
    border-radius: 20%;
    height: 20px;
    width: 20px;
    text-align: center;
    color: var(--white-color);
}

.cartStep:hover, .cartStepActive {
    background: var(--cart-step-background-hover);
    cursor: pointer;
    color: var(--black-color);
}

