
.cardTotalSection {
    display: flex;
    margin: 0 10px;
}
.cardTotalSectionLeft {
    flex: 2;
}
.cardTotalSectionRight {
    flex: 1;
}
.cardTotalSectionRight div {
    flex: 1;
    padding: 10px;
}
.cartFooterFinalTotal {
    border-top: var(--border-style);
}
.cartFooterFinalTotal span:nth-child(2) {
    float: right;
}
.cartFooterCheckout {
    text-align: right;
}
@media screen and (max-width: 767px) {
    .cardTotalSection {
        display: block;
    }
}
